#!/usr/bin/make -f

DRIVER_NAME := atomisp
VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | cut -d' ' -f2 | cut -d- -f1 | cut -d\: -f2)
PKG_NAME := atomisp-6.10
PKG_kernel_src  := $(PKG_NAME)-dkms
ARCH := $(shell dpkg --print-architecture)
ifeq ($(ARCH),amd64)
ARCH_SUFFIX=x86_64
else
ARCH_SUFFIX=i386
endif

%:
	dh "$@"

# we don't actually build/clean the source here, it's dkms
override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_install:
	./build-dkms
	# just create .install files from templates.
	for i in $(shell find debian \( -name "dkms-*.conf.in" -o -name "*.postinst.in" -o -name "*.postrm.in" -o -name "*.prerm.in" \) -printf "%f\n" ); do \
		sed \
		-e "s|#VERSION#|$(VERSION)|" \
		-e "s|#ARCH#|$(ARCH_SUFFIX)|" \
		debian/$$i > debian/$${i%.*}; \
	done

	for i in $(shell find debian -name "*.install.in" -printf "%f\n"); do \
		sed \
		-e "s|#VERSION#|$(VERSION)|" \
		-e "s|#ARCH#|$(ARCH_SUFFIX)|" \
		debian/$$i > debian/$${i%.*}; \
		chmod +x debian/$${i%.*}; \
	done

override_dh_clean:
	dh_clean

	for i in dkms.conf \
		$(PKG_kernel_src).install \
		$(PKG_kernel_src).postinst \
		$(PKG_kernel_src).prerm \
		$(PKG_kernel_src); do \
			rm -f debian/$$i; \
	done
